{% extends '../base.html' %} {% load static %} {% block content %}
<section class="section" id="polka">
    <div class="container">
        <div class="columns">
            <div class="column is-full box">
                <nav class="breadcrumb p-2" aria-label="breadcrumbs">
                    <ul>
                        {% for cat in categories %}
                        <li>
                            <a href="{{cat.get_url}}">
                                <span class="icon is-small">
                                <i class="{{cat.icon}}" aria-hidden="true"></i>
                              </span>
                                <span>{{cat.title}}</span>
                            </a>
                        </li>
                        {% endfor %}

                    </ul>
                </nav>
            </div>
        </div>
        <div class="columns">
            <div class="column is-8">
                {% for post in object_list %}
                <div class="columns box mt-1">
                    <div class="column is-1">
                        <img src="img/up.png" width="40" alt="">
                        <span class="has-text-success is-size-2">
                                {{post.up}}
                            </span>
                    </div>
                    <div class="column is-10">
                        <div class="subtitle">
                            {{post.body | safe}}
                        </div>
                        <p class="is-right">
                            Posted by <span class="tag is-link "><a href="#" class="has-text-white">{{post.author}}</a></span> Tags {% for tag in post.tags.all %}
                            <span class="tag"><a href="#" >{{tag.name}}</a></span> {% endfor %}

                        </p>
                    </div>
                    <div class="column is-1">
                        <div class="button is-success">
                            <i class="fas fa-arrow-up  is-size-4"></i>
                        </div>
                        <div class="button mt-1 is-success">
                            <i class="fas fa-arrow-down  is-size-4"></i>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <nav class="pagination" role="navigation" aria-label="pagination">
                    <a class="pagination-previous is-disabled" title="This is the first page">Previous</a>
                    <a class="pagination-next">Next page</a>
                    <ul class="pagination-list">
                        <li>
                            <a class="pagination-link is-current" aria-label="Page 1" aria-current="page">1</a>
                        </li>
                        <li>
                            <a class="pagination-link" aria-label="Goto page 2">2</a>
                        </li>
                        <li>
                            <a class="pagination-link" aria-label="Goto page 3">3</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="column is-4">
                <article class="panel is-success">
                    <p class="panel-heading">
                        Search polkadots
                    </p>

                    <div class="panel-block">
                        <p class="control has-icons-left">
                            <input class="input is-success" type="text" placeholder="Search">
                            <span class="icon is-left">
                              <i class="fas fa-search" aria-hidden="true"></i>
                            </span>
                        </p>
                    </div>
                    <a class="panel-block is-active">
                        <span class="panel-icon">
                            <i class="fas fa-book" aria-hidden="true"></i>
                          </span> bulma
                    </a>
                    <a class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-book" aria-hidden="true"></i>
                          </span> marksheet
                    </a>
                    <a class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-book" aria-hidden="true"></i>
                          </span> minireset.css
                    </a>
                    <a class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-book" aria-hidden="true"></i>
                          </span> jgthms.github.io
                    </a>
                </article>
                <br>
                <article class="panel is-info">
                    <p class="panel-heading">
                        TOP 5 users with polkadots
                    </p>

                    <a class="panel-block is-active">
                        <span class="panel-icon">
                            <i class="fas fa-user" aria-hidden="true"></i>
                          </span> Master Joda
                    </a>
                    <a class="panel-block is-active">
                        <span class="panel-icon">
                            <i class="fas fa-user" aria-hidden="true"></i>
                          </span> Luke Skywalker
                    </a>
                    <a class="panel-block is-active">
                        <span class="panel-icon">
                            <i class="fas fa-user" aria-hidden="true"></i>
                          </span> Chui
                    </a>
                    <a class="panel-block is-active">
                        <span class="panel-icon">
                            <i class="fas fa-user" aria-hidden="true"></i>
                          </span> R2D2
                    </a>
                    <a class="panel-block is-active">
                        <span class="panel-icon">
                            <i class="fas fa-user" aria-hidden="true"></i>
                          </span> Khan Solo
                    </a>

                </article>
            </div>
        </div>
    </div>
</section>
{% endblock %}