<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Abdurakhmon Rashidov">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" integrity="sha512-IgmDkwzs96t4SrChW29No3NXBIBv8baW490zk5aXvhCD8vuZM3yUSkbyTBcXohkySecyzIrUwiF/qV0cuPcL3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <title>Polkadot - Twitter - Uz</title>
</head>

<body>
    <nav class="navbar is-success">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="img/logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
            </a>
            <div class="navbar-burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
              Home
            </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="https://bulma.io/documentation/overview/start/">
                Categories
              </a>
                    <div class="navbar-dropdown is-boxed">
                        <a class="navbar-item" href="https://bulma.io/documentation/overview/start/">
                  Overview
                </a>
                        <a class="navbar-item" href="https://bulma.io/documentation/overview/modifiers/">
                  Modifiers
                </a>
                        <a class="navbar-item" href="https://bulma.io/documentation/columns/basics/">
                  Columns
                </a>
                        <a class="navbar-item" href="https://bulma.io/documentation/layout/container/">
                  Layout
                </a>
                        <a class="navbar-item" href="https://bulma.io/documentation/form/general/">
                  Form
                </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="https://bulma.io/documentation/elements/box/">
                  Elements
                </a>
                        <a class="navbar-item is-active" href="https://bulma.io/documentation/components/breadcrumb/">
                  Components
                </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control">
                            <a class="bd-tw-button button" data-social-network="Twitter" data-social-action="tweet" data-social-target="https://bulma.io" target="_blank" href="https://twitter.com/intent/tweet?text=Bulma: a modern CSS framework based on Flexbox&amp;hashtags=bulmaio&amp;url=https://bulma.io&amp;via=jgthms">
                                <span class="icon">
                                <i class="fas fa-sign-in"></i>
                                </span>
                                <span>
                                    Login
                                </span>
                            </a>
                        </p>
                        <p class="control">
                            <a class="button is-primary" href="https://github.com/jgthms/bulma/releases/download/0.9.3/bulma-0.9.3.zip">
                                <span class="icon">
                      <i class="fas fa-sign-out"></i>
                    </span>
                                <span>Logout</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </nav>


    <section class="section">
        <div class="container">

            <div class="columns">
                <div class="column is-8">
                    <div class="columns box mt-1">
                        <div class="column is-3">
                            <img src="img/up.png" alt="">
                            <br>
                            <hr>
                            <span class="has-text-success is-size-2">
                               +882
                               <br>polkadots
                            </span>
                        </div>
                        <div class="column is-10">
                            <div class="title">Master Joda</div>

                            <div class="subtitle">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta, odio.
                            </div>
                            <ul>
                                <li class="is-size-4">
                                    <i class="fas fa-calendar-alt"></i> On site at : 12/20/2021
                                </li>
                                <li class="is-size-4">
                                    <i class="fas fa-users"></i> Followers : 566</li>
                                <li class="is-size-4"><i class="fas fa-clipboard"></i> Posts : 66</li>
                                <li class="is-size-4"><i class="fas fa-star"></i> Ranking : Expert-poncake</li>
                            </ul>
                        </div>

                    </div>
                    <nav class="pagination" role="navigation" aria-label="pagination">
                        <a class="pagination-previous is-disabled" title="This is the first page">Previous</a>
                        <a class="pagination-next">Next page</a>
                        <ul class="pagination-list">
                            <li>
                                <a class="pagination-link is-current" aria-label="Page 1" aria-current="page">1</a>
                            </li>
                            <li>
                                <a class="pagination-link" aria-label="Goto page 2">2</a>
                            </li>
                            <li>
                                <a class="pagination-link" aria-label="Goto page 3">3</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="column is-4">
                    <article class="panel is-success">
                        <p class="panel-heading">
                            Search polkadots
                        </p>

                        <div class="panel-block">
                            <p class="control has-icons-left">
                                <input class="input is-success" type="text" placeholder="Search">
                                <span class="icon is-left">
                              <i class="fas fa-search" aria-hidden="true"></i>
                            </span>
                            </p>
                        </div>
                        <a class="panel-block is-active">
                            <span class="panel-icon">
                            <i class="fas fa-book" aria-hidden="true"></i>
                          </span> bulma
                        </a>
                        <a class="panel-block">
                            <span class="panel-icon">
                            <i class="fas fa-book" aria-hidden="true"></i>
                          </span> marksheet
                        </a>
                        <a class="panel-block">
                            <span class="panel-icon">
                            <i class="fas fa-book" aria-hidden="true"></i>
                          </span> minireset.css
                        </a>
                        <a class="panel-block">
                            <span class="panel-icon">
                            <i class="fas fa-book" aria-hidden="true"></i>
                          </span> jgthms.github.io
                        </a>
                    </article>
                    <br>
                    <article class="panel is-info">
                        <p class="panel-heading">
                            TOP 5 users with polkadots
                        </p>

                        <a class="panel-block is-active">
                            <span class="panel-icon">
                            <i class="fas fa-user" aria-hidden="true"></i>
                          </span> Master Joda
                        </a>
                        <a class="panel-block is-active">
                            <span class="panel-icon">
                            <i class="fas fa-user" aria-hidden="true"></i>
                          </span> Luke Skywalker
                        </a>
                        <a class="panel-block is-active">
                            <span class="panel-icon">
                            <i class="fas fa-user" aria-hidden="true"></i>
                          </span> Chui
                        </a>
                        <a class="panel-block is-active">
                            <span class="panel-icon">
                            <i class="fas fa-user" aria-hidden="true"></i>
                          </span> R2D2
                        </a>
                        <a class="panel-block is-active">
                            <span class="panel-icon">
                            <i class="fas fa-user" aria-hidden="true"></i>
                          </span> Khan Solo
                        </a>

                    </article>
                </div>
            </div>
        </div>
    </section>
    <script src="js/app.js"></script>
</body>

</html>