@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}

#banner_tags li {
    margin: 5px auto;
}

#banner_tags li a {
    color: aliceblue;
}
.my-center{
display:flex;
justify-content:center;
}